@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #959595;
  font-weight: 600;
  font-style: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;

  background-color: #202020;
}

a {
  color: #DEDEDE;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.5;
}
.burger-menu__icon {
 
}
.burger-menu{
 display: none;
}



img {
  max-width: 100%;
}


.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 11px;

}

.title {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
  color: #DEDEDE;
}

.btn {
  font-size: 18px;
  color: #FFFFFF;
  padding: 16px 48px;
  display: inline-block;
  background: #9D9D9D;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px;


}

.btn:hover {
  opacity: 0.8;
}

.btn::before {
  content: "";
  background-image: url("images/mail.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px
}

.socials {
  display: flex;
  gap: 40px;
}

.socials__img {
  display: flex;
}

.header {
  padding: 20px 0;

  background: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);

}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header__nav {
  display: flex;
  align-items: center;

  gap: 58px;
}



.header__link {
  font-weight: 700;
  font-style: 18px;
}

.welcome {
  margin-top: 160px;

}

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__title {
  margin-bottom: 24px;
  width: 500px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.19;
  color: #DEDEDE;
  margin-top: 0;
}

.welcome__text {
  width: 395px;
  margin-bottom: 88px;
}

.welcome__img {
  margin-right: 0px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;


}

.works {
  margin-top: 150px;

}

.works__btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #DEDEDE;
  opacity: 0.7;
  margin-bottom: 80px;
}


.works__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  padding-top: 140px;
}

.work {
  position: relative;
  height: 600px;
}

.work:nth-child(odd) {
  margin-top: -140px;
}

.work:hover {
  opacity: 1;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.work__name {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;

}

.work:hover .work__name {
  opacity: 1;
}

.projects {
  margin-top: 240px;
}

.projects_title {
  margin-bottom: 65px;

}

.projects__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px
}

.projects__img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;

}

.projects--vertical .projects__img {
  height: 550px;
}

.contact {
  margin-top: 200px;
  margin-bottom: 120px;
}

.contact .container {
  max-width: 520px;
  text-align: center;
}


.contact_title {
  margin-bottom: 24px;
}

.contact__text {
  margin-bottom: 50px;
  font-size: 26px;

}

.footer {
  padding: 40px 0;
  border-top: 1px solid #696969;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

.footer__copy {
  font-style: 16px;
  margin: 0;
}

.footer__copy span {
  color: #ECECEC;
}

@media (max-width: 1100px) {
  .welcome__img {
    margin-right: 0;
  }
}

@media (max-width: 950px) {

  .welcome {
    margin-top: 70px;
  }

  .welcome .container {
    flex-direction: column-reverse;
    gap: 65px;
  }

  .welcome__title {
    width: auto;
  }

  .welcome__text {
    width: auto;
    margin-bottom: 50px;
  }

  .welcome__desc {
    text-align: center;
  }

  .work {
    height: 600px;
  }
  .work__name{
    opacity: 1;
  }

}

@media (max-width: 850px) {
  .projects__img {
    height: 300px;
    width: 300px;

  }
  .work, .projects, .contact {
    margin-top: 100px;
  }
}

@media (max-width: 770px) {
  .welcome__title {
    font-style: 16px;
  }

}
@media (max-width: 700px) {
  .footer .container{
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  }
  @media (max-width: 650px) {
    .projects__img{
      width: 100%;
      height: 360px;
    }
    .works__wrapper{
      grid-template-columns: 1fr;
      padding-top: 0;
    }
    .work:nth-child(odd){
      margin-top: 0;
    }
    
    }
    @media (max-width: 500px) {
      .burger-menu__icon {
        height: 24px;
        width: 30px;
        object-fit: contain;
        object-position: center;

      }
      
        .burger-menu {
          display: block;
          background-color: transparent;
          border: none;
          padding: 0;
        }
      .header__nav{
        display: none;
      }
      .welcome__img{
        width: 240px;
        height: 240px;
      }
      .btn {
        padding: 16px 20px;
      }
      .works__btn{
        margin-bottom: 40px;
      }
      .work__name{
        font-size: 28px;
      }
      .title{
        font-size: 28px;
      }
      .projects_title{
        font-size: 35px;
      }
      .contact_title{
        margin-bottom: 12px;
      }
      .contact__text{
        font-size: 18px;
      }
      
      .contact .container{
        max-width: 270px;
      
    }
    .contact{
      margin-top: 100px;
    }
 
    }
    
    
    

  
  
